.game-table{
    background-image: url('./assets/img/tile.jpeg');
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Lobster;
    position: relative;
    .guess-move {
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        background-color: burlywood;
        border: 1px solid brown;
        height: 100px;
        width: 100px;
        font-family: Lobster;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px #ebbebe;
    }
    .move-picker-modal {
        height: 200px!important;
        .guess-modal-content {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // background-color: red;
            height: 100%;
            width: 100%;
        }
        
        .enter-game-button {
            margin-right: 10px;
        }
        .move-picker-wrap {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
               
                letter-spacing: 2px;
            }
            div {
                font-family: Lobster;
                margin-top: 20px;
            }
        }
    }
    
    .game-room {
        width: 30%;
        background-color: aqua;
        height: 200px;
        margin: 20px;
        text-align: center;
        cursor:pointer;
        p {
            font-family: Lobster; 
            text-transform: capitalize;
            font-size: 30px;
            color: white;
            text-shadow: 2px 2px 4px #000;
        }
         
        &.elevator {
            background-color: green;
            background-image: url('./assets/img/rooms/elevator.jpg');
            background-size: contain;
            background-repeat: repeat;
        }
        &.pool {
            background-color: brown;
            background-image: url('./assets/img/rooms/pool.jpg');
            background-size: contain;
            background-repeat: repeat;
        }
        &.bedroom {
            background-color: white;
            background-image: url('./assets/img/rooms/bedroom.jpg');
            background-size: contain;
            background-repeat: repeat;
        }
        &.lounge {
            background-color: pink;
        }
        &.dinning-room {
            background-color: yellow;
        }
        &.ballroom {
            background-color: purple;
        }
        &.beach {
            background-color: powderblue;
            background-image: url('./assets/img/bck.jpg');
            background-size: contain;
            background-repeat: repeat;
        }
        &.shop {
            background-color: bisque;
        }
        &.kitchen {
            background-color: goldenrod;
        }
    }
}