.game-table{
    background-image: url('./assets/img/tile.jpeg');
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Lobster;
    .game-room {
        width: 30%;
        background-color: aqua;
        height: 200px;
        margin: 20px;
        text-align: center;
        cursor:pointer;
        p {
            font-family: Lobster; 
            text-transform: capitalize;
            font-size: 30px;
            color: white;
            text-shadow: 2px 2px 4px #000;
        }
         
        &.billiard-room {
            background-color: green;
        }
        &.study {
            background-color: brown;
        }
        &.hall {
            background-color: white;
        }
        &.lounge {
            background-color: pink;
        }
        &.dinning-room {
            background-color: yellow;
        }
        &.ballroom {
            background-color: purple;
        }
        &.conservatory {
            background-color: powderblue;
        }
        &.library {
            background-color: bisque;
        }
        &.kitchen {
            background-color: goldenrod;
        }
    }
}