@import './variables';
@import './general';
@import './pages/pages';
@import './components/shared-components/shared-components';
//colors 

$yellow: #FFCB47;
$military-green: #4A5043;
$blue-gray: #8AA1B1;
$lighter-blue: #9AC2C9;
$mint-green: #B9D8C2;